

<div class="container">
  
    <%=form_tag 'search', method: "get" do %>
        <div class="form-group">
             <input type="string" name="search" placeholder="#검색 키워드를 입력하세요">
             <input type="submit" value="검색">
        </div>
    <% end %>
    <%=form_tag '/write', method: 'post' do %>
        <div class="form-group">
          <textarea name="naeyong" placeholder="#검색키워드 
영어문장을 입력하세요" class="form-control" rows="2"></textarea>
        </div>
        
            <br>
        <div class="form-group">
            <textarea name="uime" placeholder="의미를 입력하세요" class="form-control" rows="2"></textarea> <br>
             <input type="submit" class="btn btn-success">
        </div>
       
    <% end %>
    
    <br>   
            
    <ol>
        <% @note.each do |b| %>
            <li> 문장 : <%= b.sentence %> <br>
                 의미 : <%= b.meaning %>  <br>
                 <a class="btn btn-info btn-xs" href="/edit?id=<%=b.id%>" role="button">수정</a>
                 <a class="btn btn-info btn-xs" href="/destroy?id=<%=b.id%>" role="button">삭제</a>
            </li>
        <% end %>
    </ol>

</div>
