<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
 
  
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
 
  
  <%= csrf_meta_tags %>
  
</head>
<body>
  
    <div class="navbar-wrapper">
      <div class="container">

       <nav class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">마이노트</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                    <% if user_signed_in? %>
                    <li><a><%=current_user.email%></a></li>
                    <li><a href="/users/sign_out" data-method="delete">로그아웃</a></li>
                    <% else %>
                      <li><a href="/users/sign_in">로그인</a></li>
                    <li><a href="/users/sign_up">회원가입</a></li>
                    <% end %>
                
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Favorites<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Favorite Shows</li>
                  <li><a href="https://www.youtube.com/channel/UCp0hYYBW6IMayGgR-WeoCvQ?spfreload=10" target="_blank">The Ellen Show</a></li>
                  <li><a href="https://www.youtube.com/channel/UCi7GJNg51C3jgmYTUwqoUXA" target="_blank">Team Conan Show</a></li>
                  <li><a href="https://www.youtube.com/channel/UCMtFAi84ehTSYSE9XoHefig" target="_blank">Stephen Colbert Show</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Study Sites</li>
                  <li><a href="http://www.englishinkorean.com" target="_blank">잉글리시인코리언즈</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">News</li>
                  <li><a href="http://www.npr.org" target="_blank">NPR News</a></li>
  
                  
                </ul>
              </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    

  <%= yield %>
</div>

</body>

  <footer class="footer">
      <div class="container">
        <center>
          <p class="text-muted">Copyright (C) 2015 조인수. All rights reserved.</p>
        </center>
      </div>
  </footer>


</html>
